.btn {
  color: var(--white);
  font-family: var(--ff-poppins);
  padding: 20px 30px;
  border-radius: 15px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-secondary {
  background: var(--rich-black-fogra-29);
  -webkit-box-shadow: inset 0 -10px 20px #575766;
          box-shadow: inset 0 -10px 20px #575766;
}

.btn-secondary:is(:hover, :focus) {
  background: var(--gambog);
  -webkit-box-shadow: 5px 10px 30px rgba(255, 166, 0, 0.3);
          box-shadow: 5px 10px 30px rgba(255, 166, 0, 0.3);
}

.btn-primary {
  background: var(--orange-web);
  -webkit-box-shadow: 5px 10px 30px rgba(255, 166, 0, 0.3);
          box-shadow: 5px 10px 30px rgba(255, 166, 0, 0.3);
}

.btn-primary:is(:hover, :focus) {
  background: var(--gambog);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-poppins);
  color: var(--rich-black-fogra-29);
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.1;
  font-weight: var(--fw-700);
}

.h2 {
  font-size: var(--fs-1);
  line-height: 1.2;
}

.h3 {
  color: var(--onyx);
  font-size: var(--fs-3);
  line-height: 1.2;
}

.section-text,
.card-text,
.card-subtitle {
  font-family: var(--ff-rubik);
  color: var(--sonic-silver);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.vector-line {
  display: none;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/
.hero {
  /* background: var(--gradient); */
  padding: 150px 0 var(--section-padding);
}

.hero-banner {
  margin-bottom: 30px;
}

.hero-banner img {
  width: 100%;
}

.hero-title {
  margin-bottom: 20px;
}

.hero .section-text {
  margin-bottom: 45px;
}

/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/
.about {
  padding-block: var(--section-padding);
}

.about-banner {
  position: relative;
  margin-bottom: 40px;
}

.about-img {
  width: 100%;
}

.play-btn {
  position: absolute;
  bottom: 24%;
  right: 8%;
  background: var(--white);
  width: 80px;
  height: 80px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 25px;
  border-radius: 50%;
}

.play-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid var(--black);
  -webkit-animation: pulseAnim 2s forwards infinite;
          animation: pulseAnim 2s forwards infinite;
}

.play-btn i {
  margin: 0;
}

@-webkit-keyframes pulseAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: var(--black);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    border-color: transparent;
  }
}

@keyframes pulseAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: var(--black);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    border-color: transparent;
  }
}

.about-title {
  margin-bottom: 30px;
}

.about .section-text {
  margin-bottom: 50px;
}

/*-----------------------------------*\
 * #DEPARTMENTS
\*-----------------------------------*/
.departments {
  padding-block: var(--section-padding);
  background: var(--floral-white);
}

.departments-title {
  text-align: center;
  margin-bottom: 80px;
}

.departments-list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  margin-bottom: 50px;
}

.departments-card {
  background: var(--white);
  -webkit-box-shadow: 5px 30px 50px rgba(39, 38, 38, 0.05);
          box-shadow: 5px 30px 50px rgba(39, 38, 38, 0.05);
  max-width: 400px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 25px;
}

.departments-card .card-banner {
  margin-bottom: 20px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.departments-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.departments-card:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.departments-card .card-title {
  margin-bottom: 15px;
  margin-top: 1rem;
}

.departments-card .card-text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.departments-card .card-link {
  color: var(--orange-web);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.departments-card .card-link:is(:hover, :focus) {
  gap: 15px;
}

.departments .btn-primary {
  margin-inline: auto;
}

/*-----------------------------------*\
 * #INSTRUCTOR
\*-----------------------------------*/
.instructor {
  padding-block: var(--section-padding);
}

.instructor .title-wrapper {
  margin-bottom: 80px;
}

.instructor-title {
  margin-bottom: 30px;
}

.instructor-list {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.instructor-card {
  text-align: center;
}

.instructor-card .card-banner {
  margin-bottom: 30px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.instructor-card:hover .card-banner {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.instructor-card img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-inline: auto;
}

.instructor-card .card-title {
  color: var(--onyx);
  font-family: var(--ff-poppins);
  font-size: var(--fs-2);
}

.instructor-card .card-subtitle {
  margin-bottom: 15px;
}

.card-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.card-social-link {
  color: var(--onyx);
  font-size: 18px;
}

/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/
.cta {
  background: var(--raisin-black);
  padding-block: 50px;
}

.cta-title {
  color: var(--white);
  margin-bottom: 30px;
}

.cta-banner {
  display: none;
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/
.footer {
  background: var(--rich-black-fogra-29);
}

.footer-top {
  padding-block: var(--section-padding);
}

.footer-brand {
  margin-bottom: 50px;
}

.footer-brand .logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-text {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.footer .social-link {
  background: var(--raisin-black);
  color: var(--silver-chalice);
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid var(--raisin-black);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.footer .social-link:is(:hover, :focus) {
  background: var(--rich-black-fogra-29);
  color: var(--cultured);
}

.footer-link-box {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.footer-list {
  max-width: 230px;
}

.footer-list li:first-child {
  margin-bottom: 10px;
}

.footer-link-title {
  color: var(--cultured);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
}

.footer-link {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  padding-block: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) {
  color: var(--cultured);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.footer .contact-item {
  padding-block: 10px;
}

.footer .contact-item span {
  display: inline-block;
  color: var(--cultured);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
}

.footer .contact-link {
  display: inline-block;
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
}

.footer .contact-link address {
  font-style: normal;
}

.footer-bottom {
  padding-block: 20px;
  border-top: 1px solid var(--onyx);
}

.copyright {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  line-height: 1.7;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: inherit;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.copyright a:is(:hover, :focus) {
  color: var(--cultured);
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/
/**
 * responsive for larger than 550px screen
 */
@media (min-width: 550px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }
  .h2 {
    --fs-1: 35px;
  }
  /**
   * DEPARTMENTS
   */
  .departments-card {
    padding: 30px;
  }
  /**
   * INSTRUCTOR, FOOTER
   */
  .instructor-list,
  .footer-link-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/**
 * responsive for larger than 768px screen
 */
@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */
  :root {
    /**
     * typography
     */
    --fs-1: 55px;
  }
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 750px;
  }
  /**
   * HERO, ABOUT
   */
  .hero-banner,
  .about-banner {
    max-width: 600px;
    margin-inline: auto;
  }
  .about-content {
    max-width: 600px;
  }
  /**
   * DEPARTMENTS
   */
  .departments-title {
    max-width: 600px;
    margin-inline: auto;
  }
  .departments-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  /**
   * INSTRUCTOR
   */
  .instructor-title {
    max-width: 600px;
  }
  /**
   * CTA
   */
  .cta {
    position: relative;
    z-index: 1;
  }
  .cta .title-wrapper {
    max-width: 60%;
  }
  .cta-banner {
    display: block;
    background: url("/pe/cta-banner.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -26px;
    left: 51%;
  }
  /**
   * FOOTER
   */
  .footer-text {
    max-width: 400px;
  }
}

/**
 * responsive for larger than 1024px screen
 */
@media (min-width: 1024px) {
  /**
   * CUSTOM PROPERTY
   */
  :root {
    /**
     * typography
     */
    --fs-1: 65px;
  }
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 950px;
  }
  .h2 {
    --fs-1: 40px;
  }
  .vector-line {
    display: block;
    position: absolute;
    width: 400px;
  }
  /**
   * HERO
   */
  .hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 6fr;
        grid-template-columns: 4fr 6fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .hero-banner {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /**
   * ABOUT
   */
  .about .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .about-banner {
    position: relative;
    margin-bottom: 0;
  }
  .about-banner .vector-line {
    width: 400px;
    bottom: 50px;
    left: -50px;
  }
  .play-btn {
    width: 100px;
    height: 100px;
  }
  .about-content {
    max-width: unset;
  }
  /**
   * DEPARTMETNS
   */
  .departments {
    position: relative;
    z-index: 1;
  }
  .departments .vector-line {
    top: 100px;
    right: 0;
    z-index: -1;
  }
  .departments-title {
    max-width: 500px;
  }
  .departments-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .departments-card {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  /**
   * INSTRUCTOR
   */
  .instructor {
    position: relative;
    z-index: 1;
  }
  .instructor .vector-line:first-child {
    top: 50px;
    left: 0;
    z-index: -1;
  }
  .instructor .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instructor-title {
    max-width: 500px;
    margin-bottom: 0;
  }
  .instructor-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .instructor .vector-line:last-child {
    bottom: -100px;
    left: 0;
    z-index: -1;
    width: 300px;
  }
  /**
   * CTA
   */
  .cta .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .cta-title {
    position: relative;
    margin-bottom: 0;
    width: calc(100% - 200px);
  }
  .cta-title .vector-line {
    right: -20px;
    bottom: 0;
    width: 100px;
  }
  .cta-banner {
    left: 60%;
    width: 320px;
    bottom: -39px;
  }
  /**
   * FOOTER
   */
  .footer-link-box {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive for larger than 1200px screen
 */
@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 1150px;
  }
  /**
   * DEPARTMENTS
   */
  .departments-title {
    max-width: 550px;
  }
  /**
   * INSTRUCTOR
   */
  .instructor {
    padding-bottom: 150px;
  }
  /**
   * CTA
   */
  .cta .title-wrapper {
    max-width: 64%;
  }
  .cta-banner {
    left: 68%;
  }
}
/*# sourceMappingURL=portal1.css.map */